@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #fbfbfb;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Warna track scrollbar */
}

::-webkit-scrollbar-thumb {
  background: #fb8312;
}

.scrollbar-hidden::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Custom radio button styles */
.radio-custom {
  appearance: none; /* Menghilangkan gaya default radio button */
  width: 1rem;
  height: 1rem;
  border: 2px solid #cccccc; /* Border abu-abu */
  border-radius: 50%;
  position: relative;
  outline: none;
  cursor: pointer;
}

.radio-custom:checked {
  border-color: #fb8312; /* Border warna oranye */
  background-color: #ffffff;
}

.radio-custom:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.5rem;
  height: 0.5rem;
  background-color: #fb8312; /* Warna oranye di dalam radio */
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  background-color: #fbfbfb;
}

body {
  background-color: #fbfbfb;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Warna track scrollbar */
}

::-webkit-scrollbar-thumb {
  background: #fb8312;
}

.scrollbar-hidden::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Custom radio button styles */
.radio-custom {
  appearance: none; /* Menghilangkan gaya default radio button */
  width: 1rem;
  height: 1rem;
  border: 2px solid #cccccc; /* Border abu-abu */
  border-radius: 50%;
  position: relative;
  outline: none;
  cursor: pointer;
}

.radio-custom:checked {
  border-color: #fb8312; /* Border warna oranye */
  background-color: #ffffff;
}

.radio-custom:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.5rem;
  height: 0.5rem;
  background-color: #fb8312;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.zoom-fade-in {
  animation: zoomFadeIn 0.3s ease forwards;
}

.zoom-fade-out {
  animation: zoomFadeOut 0.3s ease forwards;
}

@keyframes zoomFadeIn {
  from {
    opacity: 0;
    transform: scale(0.3);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes zoomFadeOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.5);
  }
}

/* Zoom Animation */
.zoom-fade-in {
  animation: zoomFadeIn 0.3s ease forwards;
}

.zoom-fade-out {
  animation: zoomFadeOut 0.3s ease forwards;
}

@keyframes zoomFadeIn {
  from {
    opacity: 0;
    transform: scale(0.3);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes zoomFadeOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.5);
  }
}

/* Menyembunyikan panah bawaan pada elemen select */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("/image/icons/select-arrow-down.svg"); /* Gambar panah */
  background-position: right 1rem center;
  background-repeat: no-repeat;
  background-size: 1rem; /* Ukuran gambar yang lebih besar */
  padding-right: 3rem; /* Memberikan ruang untuk panah */
}

input[type="date"] {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  padding-right: 3rem; /* Memberikan ruang untuk ikon kustom */
  border-radius: 0.5rem; /* Sesuaikan dengan desain */
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none !important; /* Hilangkan ikon bawaan */
}
